html,body {
    padding: 20px;
}

.card-container{
    display: inline-block;
    border: 1px solid black;
    width: 400px;
    height: 330px;
    overflow: hidden;
    
}

.card-container img {
    width: 100%;
    height: 100%;
}