html,body {
    padding: 20px;
    font-family: 'Century Gothic';
}

.card-container{
    display: inline-block;
    width: 400px;
    height: 330px;
    overflow: hidden;
    position: relative;
}

.card-container img {
    width: 100%;
    height: auto;
    transition: all 1s;
    position: absolute;
    z-index: 1;
}

.card-container:hover img {
    transform: scale(1.1);
}

.card-container:hover .main-info {
    transition: bottom .4s ease-out 0s;
    bottom: -130px;
}

.card-container:hover .hidden-info {
    left: 10px;
}

.main-info {
    position: absolute;
    z-index: 22;
    bottom: 10px;
    left: 10px;
    transition: bottom .4s ease-out .6s;
    overflow: hidden;

    width: 300px;
    height: 100px;

    background: whitesmoke;
}

.main-info .title {
    margin: 15px 15px 0 15px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: default;
    color: rgb(51, 51, 51);
}

.main-info .info {
    margin: 5px 15px;
    color: gray;
    font-size: .9rem;
    cursor: default;
}

.hidden-info {
    position: absolute;
    z-index: 25;
    top: 15px;
    left: -320px;
    transition: all .8s .1s;
    overflow: hidden;

    width: 300px;
    height: 90%;

    background: #47588f;
}

.hidden-info .title {
    margin: 15px 15px 0 15px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: default;
    color: whitesmoke;
}

.hidden-info .subtitle {
    margin: 5px 15px;
    color: rgb(252, 113, 63);
    font-size: .9rem;
    cursor: default;
}

.hidden-info .info {
    margin: 25px 15px;
    color: whitesmoke;
    font-size: .9rem;
    cursor: default;
}

.hidden-info .link {
    text-decoration: none;
    color: rgb(252, 113, 63);
    font-weight: bold;
    margin: 0 15px;
}